.wrapper h1{
  
  
    display: block;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 50px;
    width: 300px;
    height: 80px;
    padding:10px;
 

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(90deg);
  

    letter-spacing: 0.5px;
    text-decoration: none;
  

  position: fixed;
  top:10px;
  left:0px;
  background-color: #BD8A8A;
  color: white;
  

}

.wrapper h1:hover{
  
  
    display: block;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 50px;
    width: 300px;
    height: 80px;
    padding:10px;
  background-color:white;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(90deg);
  

    letter-spacing: 0.5px;
    text-decoration: none;
  

  position: fixed;
  top:7px;
  left:110px;
  
  color: #4F4F4F;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
 animation: shake 0.5s;
  animation-iteration-count:infinite;
  

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body{
  font-family: arial;
  color: #4F4F4F;

}

h4{
  text-align: center;
  
  margin-top: 30px;
  padding:0 525px 0 525px;
  width:25%;
 
}

.location{
  text-align: center;
  padding:0 520px 0 520px;
  width:25%;
  
}

.welcome{
text-align: left;
  width:25%;
  padding:0 500px 0 500px;
  margin:0px auto;
  
  
}
.quote{
text-align: center;
  padding:0 500px 0 500px;


 
}

.syllabus{
  text-align: center;
  padding:0 500px 0 500px;

  

}


.syllabus button{
  background-color:white;
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  width:370px;
  height:50px;
  color:#BD8A8A;
  transition:all 2s;

  
}

.syllabus button:hover{
  background-color:white;
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  width:370px;
  height:70px;
  padding: 20px;
  box-shadow: 13px 13px #4F4F4F;
}

.syllabus a{
  width:160px;
  text-align: center;
}


.week{
    width: 120px;
    height:100px;
  padding: 30px 30px 30px 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white ;
  
  
  margin-top: 60px;
  margin-bottom: 60px;
  
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
  transition:all 1s;
  overflow: hidden;

}




.week:hover{

  width: 300px;
  height:300px;
  padding: 30px 30px 30px 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white ;
  
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 17px 17px #4F4F4F;
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  
  
}
  
  

a{
color: #4F4F4F;
font-family: Arial;
}

.students a{
  margin:0;
  padding: 0;
  color:#BD8A8A;
  text-align: left;

}
  
.students{
 display: block;
    width: 100px;
    height: 50px;
    padding:20px;
  
  color:#4F4F4F;
  text-align: left;
  position: fixed;
  z-index: 1;
  top:368px;
  left: 110px;
  transition:all 1s;
  overflow: hidden;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;

}

.students:hover{
 display: block;
    width: 200px;
    height: 360px;
    padding:20px;
  background-color:white;
  color:#4F4F4F;;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  position: fixed;
  z-index: 1;
  top:368px;
  left: 110px;
  box-shadow: 15px 15px #4F4F4F;

}

mark{
  background:none;
color:#4F4F4F
}
a:link {
    text-decoration: none;
  color:#BD8A8A
  
}

a:visited {
    text-decoration: none;
  color:#BD8A8A
}

a:hover {
    text-decoration: underline;
  color:#BD8A8A
}

a:active {
    text-decoration: underline;
  color:#BD8A8A
  
}




.resources{
width: 120px;
  height:50px;
  padding:20px;
  margin-left: auto ;
  margin-right: auto ;

  
  margin-top: 60px;
  margin-bottom: 60px;
  
  color:#4F4F4F;
  
  position: fixed;
  top: 447px;
  left:110px;
  overflow: scroll;
  transition:all 1s;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
}

.resources:hover{
width: 200px;
  height: 300px;
  padding: 30px 30px 30px 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white;
  
  margin-top: 60px;
  margin-bottom: 60px;
  
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  position: fixed;
  top: 447px;
  left:110px;
  overflow: scroll;
  box-shadow: 15px 15px #4F4F4F;
}


.footer{
width: 300px;
  padding: 30px 30px 30px 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white ;
  
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  
}

code{
  font-family: Arial;
  font-size:15px;
}


hr{
  border-width:0px;
}

@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 900px) {

 
}

@media only screen and (max-width: 600px) {


  
}


@media only screen and (max-width: 400px) {


  
  
 .week{
   width:25%;

    height:80px;
  padding: 0px 30px 30px 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white ;
  
  
  margin-top: 0px;
  margin-bottom: 60px;
  
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
  transition:all 1s;
  overflow: hidden;
  }
  
 .wrapper h1{
display: block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 50px;
    width: 300px;
    height: 80px;
    padding:10px;
  position: fixed;
  top:10px;
  left:0px;
  background-color: #BD8A8A;
  color: white;
   -webkit-transform: none;
    -ms-transform: none;
    transform: none;

  }
  
  h4{
  text-align: center;
  display: block;
    width:50%;
    padding:200px 100px 10px 80px;
 
}

.location{
  text-align: center;
  display: block;
    width:50%;
    padding:0px 100px 10px 80px;
}

.welcome{
text-align: left;
  width:50%;
  padding:0 100px 0 100px;
  margin:0px auto;
  
  
}
.quote{
text-align: center;
  padding:0 500px 0 100px;


 
}

.syllabus{
  width:50%;
  height: auto;
  text-align: center;
  padding:0 100px 0 100px;
 display: block;
  
  

}


.syllabus button{
  background-color:white;
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  width:50%;
  height:auto;
  color:#BD8A8A;
  transition:all 2s;

  
}

.syllabus button:hover{
  background-color:white;
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  width:100px;
  height:70px;
  padding: 20px;
  box-shadow: 13px 13px #4F4F4F;
}

.syllabus a{
  width:50%;
  height:auto;
  text-align: center;
}

  
  .students{
    display: block;
    width: 100px;
    height: 50px;
    padding:10px;
  
  color:#4F4F4F;
  text-align: left;
  position: fixed;
  z-index: 1;
  top:120px;
  left: 10px;
  transition:all 1s;
  overflow: hidden;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
    background-color:white;
  }
  .students:hover{
 display: block;
    width: 130px;
    height: 200px;
    padding:10px;
  background-color:white;
  color:#4F4F4F;;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  position: fixed;
  z-index: 1;
  top:120px;
  left: 10px;
  box-shadow: 15px 15px #4F4F4F;
  overflow: scroll;
}
.resources{
width: 120px;
  height:50px;
  padding:10px;
  margin-left: auto ;
  margin-right: auto ;
background-color:white;
  
  margin-top: 0px;
  margin-bottom: 60px;
  
  color:#4F4F4F;
  
  position: fixed;
  top: 120px;
  left:175px;
  overflow: scroll;
  transition:all 1s;
  border: #4F4F4F;
  border-style: solid;
  border-width: 3px;
}

.resources:hover{
width: 130px;
  height: 200px;
  padding: 10px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white;
  
  margin-top: 0px;
  margin-bottom: 60px;
  
  border: #4F4F4F;
  border-style: solid;
    border-width: 3px;
  position: fixed;
  top: 120px;
  left:175px;
  overflow: scroll;
  box-shadow: 15px 15px #4F4F4F;
}

  
  .footer{
  width: 50%;
  padding: 30px 30px 30px 30px;
  margin-left: auto ;
  margin-right: auto ;
  background-color:white ;
  
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
  
}
  }